# Credenciais
.env

# Downloads do SIGAA
downloads_sigaa/

# Relatórios gerados
Relatorios/

# Organização dos PDFs
turmas_passadas_sigaa/

# Scripts de teste
scripts_teste/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# VSCode
.vscode/

# Ambiente virtual
venv/
.venv/